[submodule "simona"]
	path = simona
	url = git@github.com:ie3-institute/simona.git
	branch = dev
[submodule "simonaAPI"]
	path = simonaAPI
	url = git@github.com:ie3-institute/simonaAPI.git
	branch = dev
[submodule "simosaik"]
	path = simosaik
	url = git@github.com:ie3-institute/simosaik.git
	branch = main
[submodule "opsim_simona_demo_extern"]
	path = opsim_simona_demo_extern
	url = git@gitlab.cc-asp.fraunhofer.de:recode/opsim_simona_demo_extern.git
