[submodule "simona"]
	path = simona
	url = git@github.com:ie3-institute/simona.git
	branch = dev
[submodule "simonaAPI"]
	path = simonaAPI
	url = git@github.com:ie3-institute/simonaAPI.git
	branch = dev
[submodule "simonaOpfInterface"]
	path = simonaOpfInterface
	url = git@github.com:ie3-institute/SimonaOpfInterface.git
	branch = main
